[Desktop Entry]
Name=picocom
Comment=Serial console for flight-controller UART
Encoding=UTF-8
Exec=picocom --help
Icon=parrot-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=15-07-drone-firmware;15-drone;
X-Parrot-Package=picocom
