[Desktop Entry]
Name=GNU Radio Companion
Comment=Signal processing flowgraphs for drone link analysis
Encoding=UTF-8
Exec=gnuradio-companion
Icon=parrot-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=15-01-drone-rf;15-drone;
X-Parrot-Package=gnuradio
