[Desktop Entry]
Name=Gqrx SDR
Comment=Receive and inspect 2.4 GHz and 5.8 GHz drone links
Encoding=UTF-8
Exec=gqrx
Icon=parrot-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=15-01-drone-rf;15-drone;
X-Parrot-Package=gqrx-sdr
